@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

body {
    background-color: #151515;
    margin: 0;
    overflow-x: hidden;
}

h3 {
    color: #ffffff;
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -1.5px;
    margin: 0 0 14px 0;
}

p {
    color: #d9d9d9;
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    margin: 0;
}

.oval-graphics {
    position: absolute;
    right: 291px;
    top: 315px;
}

.oval-graphics .oval {
    width: 530px;
    height: 80px;
    border: 1px rgba(255, 255, 255, 0.25) solid;
    border-radius: 50%;
    position: absolute;
    top: 0px;
}

.oval-graphics .oval:nth-of-type(2) {
    top: 12px;
}

.oval-graphics .oval:nth-of-type(3) {
    top: 24px;
}

.oval-graphics .oval:nth-of-type(4) {
    top: 36px;
}

.oval-graphics .oval:nth-of-type(5) {
    top: 48px;
}

.container {
    width: 1110px;
    margin: 0 auto;
}

.experiences {
    display: flex;
    justify-content: space-between;
    padding-top: 104px;
    border-top: 1px #ffffff solid;
    margin-top: 104px;
}

.experiences .experience {
    text-align: center;
}

.experiences .experience p {
    display: inline-block;
    position: relative;
}

.experiences .experience p span {
    display: inline-block;
    height: 2px;
    width: 100%;
    background-color: #6C1BF0;
    position: absolute;
    left: 0;
    bottom: 0;
}